#video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  z-index: 1;
}

#video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#circular-close-button {
  border-radius: 50%;
  position: absolute;
  right: 0px;
  z-index: 200;
}
.wrapper{
  margin-top:100px;
}

.mood-shadow-box{

}

.shadow-box{
  -webkit-box-shadow: 0px 3px 22px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 22px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 22px 2px rgba(0,0,0,0.2);
}

/** Mood List **/

.mood-list{
  max-width:850px;
  width:100%;
  height: 65px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.mood-title{
  text-align:center;
  width: 100%;
  height: 100%;
  line-height:65px;
}

.mood-card{
  float: left;
  margin: 5px;
  width: 160px;
  height: 65px;
}


/** Video List **/

.video{
  float:left;
}

.img{
  height:100%;
  width:100%;
}

.video-list{
  max-width:850px;
  width:100%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.video-items{
  width:100%;
  height:150px;
  margin-left:80px;
}

.video-thumbnail{
  height: 100px;
  width: 200px;
  border: 4px solid #000000;
  float:left;
  margin-right:40px;
}

.video-list-title {
  margin: 15px;
  padding-top: 15px;
}

.video-title{
  width:200px;
  text-align:center;
}

.welcome-block {
  margin-left:250px;
  margin-bottom: 50px;
}


/** Modal **/

.close-modal{
  margin-right:12px;
  margin-top:10px;
}

.modal-container{
  width:650px;
  height: 500px;
}

.redirect-img{
  width:600px;
  height: 200px;
  margin-bottom:20px;
}

.redirect-links{
  margin-top:50px;
}

.redirect-link{
  float:left;
  padding-right:10px;
}

.redirect-link-img{
  width: 70px;
  height: 50px;
}
